.contentBox {
    margin: 0 auto;
    display: flex;
    gap: 12px;
    justify-content: center;
}

.circleBox {
    display: flex;
    margin: 0 auto;
    margin-top: 48px;
    justify-content: center;
}

.clearButton {
    margin-left: 68px;
}

.letterInput {
    width: 377px;
}